<a href="https://colab.research.google.com/github/Shakira25/MyData/blob/main/Connect_and_query_mysql_database_from_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# install, set connection
!apt-get install mysql-server > /dev/null
!service mysql start
!mysql -e "create database TEST"
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"

!pip -q install PyMySQL
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql mysql+pymysql://root:root@/
# query using %sql or %%sql
df = %sql SELECT Host, User, authentication_string FROM mysql.user
df

 * Starting MySQL database server mysqld
   ...done.
The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql+pymysql://root:***@/

        Host              User                      authentication_string
0  localhost              root  *81F5E21E35407D884A6CD4A731AEBFB6AF209E1B
1  localhost     mysql.session  *THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE
2  localhost         mysql.sys  *THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE
3  localhost  debian-sys-maint  *144C2D51E402B140D43678DE10CC372C9CF0B003

In [15]:
from sqlalchemy import types, create_engine
import pymysql

try:
  MYSQL_HOSTNAME = 'localhost'
  MYSQL_USER = 'root'
  MYSQL_PASSWORD = 'root'
  MYSQL_DATABASE = 'TEST'

  connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}/{MYSQL_DATABASE}'
  conn = create_engine(connection_string)
  conn.execute("create table if not exists Users (username varchar(50), password varchar(50))")
  conn.execute("INSERT INTO `Users` (`username`, `password`) VALUES ('abby', 'secret-password'),('nsubuga', 'Mckenzie')")
  print("MySQL Connection Sucessfull!!!!!!!!!!!")
except Exception as err:
  print("MySQL  Failed !!!!!!!!!!!")
  print(err)

MySQL Connection Sucessfull!!!!!!!!!!!

In [16]:
import pandas as pd

query = """Select * from Users;"""

events_df = pd.read_sql(query, con=conn)
print(events_df)

  username         password
0     abby  secret-password
1     abby  secret-password
2  nsubuga         Mckenzie
3     abby  secret-password
4  nsubuga         Mckenzie

In [18]:
pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.29-cp37-cp37m-manylinux1_x86_64.whl (25.2 MB)
     |████████████████████████████████| 25.2 MB 1.3 MB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.29

In [19]:
import mysql.connector

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f7cfa3ab490>