<a href="https://colab.research.google.com/github/Shakira25/MyData/blob/main/SalesFunctionAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Shakira25/MyData.git

fatal: destination path 'MyData' already exists and is not an empty directory.

In [2]:
%cd MyData

/content/MyData

In [3]:
! ls

NK1.py	README.md  sales.csv  SalesData.py

In [4]:
%run SalesData.py

In [5]:
sales.head()

         Date     Time  ...   Profit     Dispenser
0  31/12/2021  2:21 pm  ...  17920.0  pharouk kaks
1  31/12/2021  2:21 pm  ...   5500.0  pharouk kaks
2  31/12/2021  2:21 pm  ...   1500.0  pharouk kaks
3  31/12/2021  2:21 pm  ...  15000.0  pharouk kaks
4  31/12/2021  2:21 pm  ...   2400.0  pharouk kaks

[5 rows x 8 columns]

In the month of December 2021, the total sales that were made by the pharmacy were nine Hundred and eight million, six hundred and fifty seven thousand and two shillings.

In [6]:
print_total_sales_in_dec()

998,657,002

Lonart Tabs of 24s where the most profitable items that is lonart yielded more profits for the pharmacy among all drugs sold at this pharmacy. Profits made by this item were two million, two hundred and twenty four thousand and fifty five shillings.

In [7]:
print_most_profitable_item()

        Lonart Tab 24s
Amount      31461650.0
Profit       2224055.0

The item that yielded the least profits was Valparin Chrono 500mg. This item made a loss of two million, five hundred and fifty five thousand and three hundred shillings.

In [8]:
print_least_profitable_item()

        Valparin Chrono 500mg
Amount               204700.0
Profit             -2555300.0

Among all the dispensers at this pharmacy, Christopher sold the most. He made a total of three hundred and fifty one million, three hundred and ninty thousand.

In [9]:
print_dispenser_that_sold_most()

          CRISTOPHER
Amount  3.513890e+08
Profit  2.271824e+07

Mubarak made the least sales among all dispensers in the month of Dec for the year 2021. The total amount that he made was three hundred and seventy three thousand, four thousand six hundred and sixty seven shillings

In [10]:
print_dispenser_that_sold_least()

          Mubarak
Amount  3734667.0
Profit  1012831.0

The item that made the most sales was Ampiclox. It made a total of thity five million, three hundred and twenty six thousand, nine hundred and thirty one shillings.

In [11]:
print_item_that_sold_most()

        Ampiclox Caps (India) 10x10
Amount                   35326931.0
Profit                    1367177.0

The item that made the least sales was Nasahaler (Nasal Spray 140MD). Throughout the month of Dec for the year 2021, this item did not make any sales.

In [12]:
print_item_that_sold_least()

        Nasahaler Nasal Spray 140MD
Amount                          0.0
Profit                          0.0