<a href="https://colab.research.google.com/github/Shakira25/MyData/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# install, set connection
!apt-get install mysql-server > /dev/null
!service mysql start
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root'"
!pip -q install PyMySQL
%load_ext sql
%config SqlMagic.feedback=False 
%config SqlMagic.autopandas=True
%sql mysql+pymysql://root:root@/
# query using %sql or %%sql
df = %sql SELECT Host, User, authentication_string FROM mysql.user
df

 * Starting MySQL database server mysqld
No directory, logging in with HOME=/
   ...done.
     |████████████████████████████████| 43 kB 1.6 MB/s
 * mysql+pymysql://root:***@/

        Host              User                      authentication_string
0  localhost              root  *81F5E21E35407D884A6CD4A731AEBFB6AF209E1B
1  localhost     mysql.session  *THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE
2  localhost         mysql.sys  *THISISNOTAVALIDPASSWORDTHATCANBEUSEDHERE
3  localhost  debian-sys-maint  *75BD8F6F8537CF82490273616FB85E9BCB6C14B7

In [5]:
from sqlalchemy import types, create_engine
import pymysql

try:
  conn = create_engine('mysql+pymysql://root:*81F5E21E35407D884A6CD4A731AEBFB6AF209E1B@localhost/mysql.user')
  print("MySQL Connection Sucessfull!!!!!!!!!!!")
except Exception as err:
  print("MySQL  Failed !!!!!!!!!!!")
  print(err)

MySQL Connection Sucessfull!!!!!!!!!!!